<form autocomplete="off" #itemForm="ngForm" novalidate (ngSubmit)="save()">
    <abp-modal-header [title]="(isEdit ? 'EditPawnItem' : 'AddPawnItem') | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <abp-validation-summary [control]="itemForm"></abp-validation-summary>

        <div class="row g-3 align-items-start">
            <div class="col-md-6 form-group">
                <label for="PawnItemCategory" class="fw-bold">{{ 'Category' | localize }} *</label>
                <input class="form-control" id="PawnItemCategory" name="category" [(ngModel)]="item.category" required />
            </div>
            <div class="col-md-6 form-group">
                <label for="PawnItemSerial">{{ 'SerialNumber' | localize }}</label>
                <input class="form-control" id="PawnItemSerial" name="serialNumber" [(ngModel)]="item.serialNumber" />
            </div>
            <div class="col-md-6 form-group">
                <label for="PawnItemCondition">{{ 'Condition' | localize }}</label>
                <input class="form-control" id="PawnItemCondition" name="condition" [(ngModel)]="item.condition" />
            </div>
            <div class="col-12 form-group">
                <label for="PawnItemDescription" class="fw-bold">{{ 'Description' | localize }} *</label>
                <textarea class="form-control" id="PawnItemDescription" name="description" rows="2" [(ngModel)]="item.description" required></textarea>
            </div>
            <div class="col-md-4 form-group">
                <label>{{ 'Weight' | localize }}</label>
                <input type="number" step="0.01" class="form-control" name="weight" [(ngModel)]="item.weight" />
            </div>
            <div class="col-md-4 form-group">
                <label>{{ 'Purity' | localize }}</label>
                <input type="number" step="0.01" class="form-control" name="purity" [(ngModel)]="item.purity" />
            </div>
            <div class="col-md-4 form-group">
                <label>{{ 'EstimatedValue' | localize }}</label>
                <input type="number" step="0.01" class="form-control" name="estimatedValue" [(ngModel)]="item.estimatedValue" />
            </div>
            <div class="col-md-4 form-group">
                <label>{{ 'MarketValue' | localize }}</label>
                <input type="number" step="0.01" class="form-control" name="marketValue" [(ngModel)]="item.marketValue" />
            </div>
            <div class="col-md-4 form-group">
                <label>{{ 'LoanValue' | localize }}</label>
                <input type="number" step="0.01" class="form-control" name="loanValue" [(ngModel)]="item.loanValue" />
            </div>
        </div>
    </div>
    <abp-modal-footer [saveDisabled]="saving || itemForm.invalid" [cancelDisabled]="saving" (onCancelClick)="bsModalRef.hide()" (onSaveClick)="save()"></abp-modal-footer>
</form>
