<form autocomplete="off" #customerForm="ngForm" novalidate (ngSubmit)="save()">
    <abp-modal-header [title]="'CreateNewCustomer' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <abp-validation-summary [control]="customerForm"></abp-validation-summary>

        <h6 class="mb-3 text-muted">{{ 'CustomerDetails' | localize }}</h6>

        <div class="row g-3">
            <div class="col-md-6 form-group">
                <label for="CustomerNo" class="fw-bold">{{ 'CustomerNo' | localize }}</label>
                <input pInputText class="w-100" id="CustomerNo" name="customerNo" [(ngModel)]="customer.customerNo" required />
            </div>

            <div class="col-md-6 form-group">
                <label for="FullName">{{ 'FullName' | localize }}</label>
                <input pInputText class="w-100" id="FullName" name="fullName" [(ngModel)]="customer.fullName" required />
            </div>

            <div class="col-md-6 form-group">
                <label for="Email">{{ 'Email' | localize }}</label>
                <input pInputText class="w-100" id="Email" name="email" [(ngModel)]="customer.email" />
            </div>

            <div class="col-md-6 form-group">
                <label for="PhoneNo">{{ 'PhoneNo' | localize }}</label>
                <input pInputText class="w-100" id="PhoneNo" name="phoneNo" [(ngModel)]="customer.phoneNo" />
            </div>

            <div class="col-md-6 form-group">
                <label for="BirthDate">{{ 'BirthDate' | localize }}</label>
                <input pInputText type="date" class="w-100" id="BirthDate" name="birthDate" [(ngModel)]="customer.birthDate" />
            </div>

            <div class="col-md-3 form-group">
                <label for="Gender">{{ 'Gender' | localize }}</label>
                <p-dropdown
                    appendTo="body"
                    inputId="Gender"
                    name="gender"
                    [(ngModel)]="customer.gender"
                    [options]="genderOptions"
                    optionLabel="displayName"
                    optionValue="id"
                    [showClear]="true"
                    (onChange)="onDropdownChange()"
                    [placeholder]="'Select' | localize"
                    styleClass="w-100"></p-dropdown>
            </div>

            <div class="col-md-3 form-group">
                <label for="Race">{{ 'Race' | localize }}</label>
                <p-dropdown
                    appendTo="body"
                    inputId="Race"
                    name="race"
                    [(ngModel)]="customer.race"
                    [options]="raceOptions"
                    optionLabel="displayName"
                    optionValue="id"
                    [showClear]="true"
                    (onChange)="onDropdownChange()"
                    [placeholder]="'Select' | localize"
                    styleClass="w-100"></p-dropdown>
            </div>

            <div class="col-md-3 form-group">
                <label for="Nationality">{{ 'Nationality' | localize }}</label>
                <p-dropdown
                    appendTo="body"
                    inputId="Nationality"
                    name="nationality"
                    [(ngModel)]="customer.nationality"
                    [options]="nationalityOptions"
                    optionLabel="label"
                    optionValue="value"
                    [filter]="true"
                    filterBy="label"
                    filterMatchMode="contains"
                    [showClear]="true"
                    (onChange)="onDropdownChange()"
                    [placeholder]="'Select' | localize"
                    styleClass="w-100"></p-dropdown>
            </div>

            <div class="col-md-3 form-group">
                <label for="MaritalStatus">{{ 'MaritalStatus' | localize }}</label>
                <p-dropdown
                    appendTo="body"
                    inputId="MaritalStatus"
                    name="maritalStatus"
                    [(ngModel)]="customer.maritalStatus"
                    [options]="maritalStatusOptions"
                    optionLabel="displayName"
                    optionValue="id"
                    [showClear]="true"
                    (onChange)="onDropdownChange()"
                    [placeholder]="'Select' | localize"
                    styleClass="w-100"></p-dropdown>
            </div>
        </div>

        <hr class="my-3" />
        <h6 class="mb-3 text-muted">{{ 'ResidentialAddress' | localize }}</h6>

        <div class="row g-3">
            <div class="col-md-12 form-group">
                <label for="Address">{{ 'Address' | localize }}</label>
                <input pInputText class="w-100" id="Address" name="address" [(ngModel)]="customer.address" />
            </div>

            <div class="col-md-4 form-group">
                <label for="City">{{ 'City' | localize }}</label>
                <input pInputText class="w-100" id="City" name="city" [(ngModel)]="customer.city" />
            </div>

            <div class="col-md-4 form-group">
                <label for="State">{{ 'State' | localize }}</label>
                <input pInputText class="w-100" id="State" name="state" [(ngModel)]="customer.state" />
            </div>

            <div class="col-md-4 form-group">
                <label for="Country">{{ 'Country' | localize }}</label>
                <p-dropdown
                    appendTo="body"
                    inputId="Country"
                    name="country"
                    [(ngModel)]="customer.country"
                    [options]="countryOptions"
                    optionLabel="label"
                    optionValue="value"
                    [filter]="true"
                    filterBy="label"
                    filterMatchMode="contains"
                    [showClear]="true"
                    (onChange)="onDropdownChange()"
                    [placeholder]="'Select' | localize"
                    styleClass="w-100"></p-dropdown>
            </div>
        </div>

        <hr class="my-3" />
        <h6 class="mb-3 text-muted">{{ 'MailingAddress' | localize }}</h6>

        <div class="row g-3">
            <div class="col-md-12 form-group">
                <label for="MailingAddress">{{ 'Address' | localize }}</label>
                <input pInputText class="w-100" id="MailingAddress" name="mailingAddress" [(ngModel)]="customer.mailingAddress" />
            </div>

            <div class="col-md-4 form-group">
                <label for="MailingCity">{{ 'City' | localize }}</label>
                <input pInputText class="w-100" id="MailingCity" name="mailingCity" [(ngModel)]="customer.mailingCity" />
            </div>

            <div class="col-md-4 form-group">
                <label for="MailingState">{{ 'State' | localize }}</label>
                <input pInputText class="w-100" id="MailingState" name="mailingState" [(ngModel)]="customer.mailingState" />
            </div>

            <div class="col-md-4 form-group">
                <label for="MailingCountry">{{ 'Country' | localize }}</label>
                <p-dropdown
                    appendTo="body"
                    inputId="MailingCountry"
                    name="mailingCountry"
                    [(ngModel)]="customer.mailingCountry"
                    [options]="countryOptions"
                    optionLabel="label"
                    optionValue="value"
                    [filter]="true"
                    filterBy="label"
                    filterMatchMode="contains"
                    [showClear]="true"
                    (onChange)="onDropdownChange()"
                    [placeholder]="'Select' | localize"
                    styleClass="w-100"></p-dropdown>
            </div>
        </div>

        <hr class="my-3" />
        <h6 class="mb-3 text-muted">{{ 'EmploymentInfo' | localize }}</h6>

        <div class="row g-3">
            <div class="col-md-6 form-group">
                <label for="Occupation">{{ 'Occupation' | localize }}</label>
                <input pInputText class="w-100" id="Occupation" name="occupation" [(ngModel)]="customer.occupation" />
            </div>

            <div class="col-md-6 form-group">
                <label for="Employer">{{ 'Employer' | localize }}</label>
                <input pInputText class="w-100" id="Employer" name="employer" [(ngModel)]="customer.employer" />
            </div>

            <div class="col-md-6 form-group">
                <label for="BusinessNature">{{ 'BusinessNature' | localize }}</label>
                <p-dropdown
                    appendTo="body"
                    inputId="BusinessNature"
                    name="businessNature"
                    [(ngModel)]="customer.businessNature"
                    [options]="businessNatureOptions"
                    optionLabel="displayName"
                    optionValue="id"
                    [showClear]="true"
                    (onChange)="onDropdownChange()"
                    [placeholder]="'Select' | localize"
                    styleClass="w-100"></p-dropdown>
            </div>

            <div class="col-md-6 form-group">
                <label for="MonthlyIncome">{{ 'MonthlyIncome' | localize }}</label>
                <p-inputNumber inputId="MonthlyIncome" name="monthlyIncome" styleClass="w-100" [(ngModel)]="customer.monthlyIncome"></p-inputNumber>
            </div>
        </div>
    </div>
    <abp-modal-footer [saveDisabled]="saving || customerForm.invalid" [cancelDisabled]="saving" (onCancelClick)="bsModalRef.hide()" (onSaveClick)="save()"></abp-modal-footer>
</form>