<form autocomplete="off" #pawnTicketForm="ngForm" novalidate (ngSubmit)="save()">
    <abp-modal-header [title]="'EditPawnTicket' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <abp-validation-summary [control]="pawnTicketForm"></abp-validation-summary>

        <h6 class="mb-3 text-muted">{{ 'TicketDetails' | localize }}</h6>

        <div class="row g-3 align-items-start">
            <div class="col-md-6 form-group">
                <label for="TicketNo" class="fw-bold">{{ 'TicketNo' | localize }} *</label>
                <input class="form-control" id="TicketNo" name="ticketNo" [(ngModel)]="pawnTicket.ticketNo" required />
            </div>

            <div class="col-md-6 form-group">
                <label for="BranchId">{{ 'BranchId' | localize }}</label>
                <input type="number" class="form-control" id="BranchId" name="branchId" [(ngModel)]="pawnTicket.branchId" />
            </div>

            <div class="col-md-6 form-group">
                <label for="Customer" class="fw-bold">{{ 'Customer' | localize }} *</label>
                <select
                    class="form-control"
                    id="Customer"
                    name="customerId"
                    [(ngModel)]="pawnTicket.customerId"
                    required>
                    <option *ngFor="let c of customers" [ngValue]="c.id">{{ c.displayName }}</option>
                </select>
            </div>

            <div class="col-md-6 form-group">
                <label for="Status" class="fw-bold">{{ 'Status' | localize }} *</label>
                <select
                    class="form-control"
                    id="Status"
                    name="status"
                    [(ngModel)]="pawnTicket.status"
                    required>
                    <option *ngFor="let s of statuses" [ngValue]="s.value">{{ s.name }}</option>
                </select>
            </div>

            <div class="col-md-4 form-group">
                <label for="CreatedDate" class="fw-bold">{{ 'CreatedDate' | localize }}</label>
                <input type="date" class="form-control date-picker" id="CreatedDate" name="createdDate" [(ngModel)]="createdDate" />
            </div>

            <div class="col-md-4 form-group">
                <label for="MaturityDate">{{ 'MaturityDate' | localize }}</label>
                <input type="date" class="form-control date-picker" id="MaturityDate" name="maturityDate" [(ngModel)]="maturityDate" />
            </div>

            <div class="col-md-4 form-group">
                <label for="ExpiryDate">{{ 'ExpiryDate' | localize }}</label>
                <input type="date" class="form-control date-picker" id="ExpiryDate" name="expiryDate" [(ngModel)]="expiryDate" />
            </div>

            <div class="col-12 form-group">
                <label for="Remarks">{{ 'Remarks' | localize }}</label>
                <textarea class="form-control" id="Remarks" name="remarks" rows="2" [(ngModel)]="pawnTicket.remarks"></textarea>
            </div>
        </div>

        <hr class="my-4" />

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h6 class="m-0 text-muted">{{ 'PawnItems' | localize }}</h6>
            <button type="button" class="btn btn-sm btn-success" (click)="addPawnItem()">
                <i class="fa fa-plus"></i> {{ 'AddItem' | localize }}
            </button>
        </div>

        <p *ngIf="pawnItems.length === 0" class="text-muted fst-italic">{{ 'NoPawnItems' | localize }}</p>

        <div *ngIf="pawnItems.length > 0" class="table-responsive mb-2">
            <table class="table table-sm table-striped table-bordered align-middle mb-0">
                <thead class="table-light">
                    <tr>
                        <th style="width: 110px">{{ 'Category' | localize }}</th>
                        <th>{{ 'Description' | localize }}</th>
                        <th style="width: 100px">{{ 'SerialNumber' | localize }}</th>
                        <th style="width: 80px" class="text-end">{{ 'Weight' | localize }}</th>
                        <th style="width: 70px" class="text-end">{{ 'Purity' | localize }}</th>
                        <th style="width: 90px">{{ 'Condition' | localize }}</th>
                        <th style="width: 100px" class="text-end">{{ 'EstimatedValue' | localize }}</th>
                        <th style="width: 100px" class="text-end">{{ 'MarketValue' | localize }}</th>
                        <th style="width: 100px" class="text-end">{{ 'LoanValue' | localize }}</th>
                        <th style="width: 130px" class="text-center">{{ 'Actions' | localize }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of pawnItems; let i = index" [class.table-danger]="row.markedForDeletion">
                        <td>{{ row.data.category }}</td>
                        <td>{{ row.data.description }}</td>
                        <td>{{ row.data.serialNumber }}</td>
                        <td class="text-end">{{ row.data.weight }}</td>
                        <td class="text-end">{{ row.data.purity }}</td>
                        <td>{{ row.data.condition }}</td>
                        <td class="text-end">{{ row.data.estimatedValue }}</td>
                        <td class="text-end">{{ row.data.marketValue }}</td>
                        <td class="text-end">{{ row.data.loanValue }}</td>
                        <td class="text-center">
                            <ng-container *ngIf="!row.markedForDeletion">
                                <button type="button" class="btn btn-sm btn-outline-primary me-1" (click)="editPawnItem(i)" title="{{ 'Edit' | localize }}">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-danger" (click)="removePawnItem(i)" title="{{ 'Delete' | localize }}">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </ng-container>
                            <ng-container *ngIf="row.markedForDeletion">
                                <button type="button" class="btn btn-sm btn-outline-secondary me-1" (click)="undoDelete(i)" title="{{ 'Undo' | localize }}">
                                    <i class="fa fa-undo"></i>
                                </button>
                                <span class="badge bg-danger">{{ 'MarkedForDeletion' | localize }}</span>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <abp-modal-footer [saveDisabled]="saving || pawnTicketForm.invalid" [cancelDisabled]="saving" (onCancelClick)="bsModalRef.hide()" (onSaveClick)="save()"></abp-modal-footer>
</form>